@import url("https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@400;700&display=swap");

$heading1: normal normal 700 40px/160% Merriweather, Serif;
$heading2: normal normal 700 35px/160% Merriweather, Serif;
$heading3: normal normal 700 30px/160% Merriweather, Serif;
$heading4: normal normal 700 25px/160% Merriweather, Serif;
$heading5: normal normal 700 20px/160% Merriweather, Serif;
$heading6: normal normal 700 16px/160% Merriweather, Serif;
$regular: normal normal normal 16px/160% Lora, Serif;
$small: normal normal normal 14px/160% Lora, Serif;
$extraSmall: nnormal normal normal 12px/160% Lora, Serif;

$black: #000000;
$white: #ffffff;
$white2: #f9f9f9;
$gray1: #efefef;
$gray2: #777777;
$gray3: #fafafa;
$gray4: #c5c5c5;
$gold: #c9a227;

@mixin mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
@mixin mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
@mixin mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}
@mixin mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}
@mixin mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
@mixin my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
@mixin my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
@mixin my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
@mixin my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

@mixin px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
@mixin px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
@mixin px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
@mixin px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
@mixin py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
@mixin py-20 {
  padding-top: 20px;
  padding-bottom: 15px;
}
@mixin py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
@mixin py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
@mixin flex-row {
  display: flex;
  flex-flow: row wrap;
}
@mixin flex-col {
  display: flex;
  flex-flow: column wrap;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

%full-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

%btn {
  cursor: pointer;
  border: none;
  outline: none;
}

body {
  margin: 0;
  font: $regular;
}

@media (max-width: 991px) {
  body {
    font-size: 14px;
  }
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

.title {
  font: $heading4;
  letter-spacing: 6px;

  &::first-letter {
    color: $gold;
    font: $heading3;
  }
}

.title_2 {
  font: $heading4;
  color: $gold;
}

@media (max-width: 991px) {
  .title {
    font-size: 20px;

    &::first-letter {
      font-size: 25px;
    }
  }
}

.loadmore {
  @extend %btn;
  display: block;
  background: $gold;
  font: $heading5;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px 20px;
}

@media (max-width: 992px) {
  .load-more {
    font-size: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1101px) and (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
