@import url("https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@400;700&display=swap");
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.loadmore {
  cursor: pointer;
  border: none;
  outline: none;
}

body {
  margin: 0;
  font: normal normal normal 16px/160% Lora, Serif;
}

@media (max-width: 991px) {
  body {
    font-size: 14px;
  }
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

.title {
  font: normal normal 700 25px/160% Merriweather, Serif;
  letter-spacing: 6px;
}

.title::first-letter {
  color: #C9A227;
  font: normal normal 700 30px/160% Merriweather, Serif;
}

@media (max-width: 991px) {
  .title {
    font-size: 20px;
  }
  .title::first-letter {
    font-size: 25px;
  }
}

.loadmore {
  display: block;
  background: #C9A227;
  font: normal normal 700 20px/160% Merriweather, Serif;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px 20px;
}

@media (max-width: 992px) {
  .load-more {
    font-size: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1101px) and (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.news_list {
  display: flex;
  flex-flow: row wrap;
}

.news_list > * {
  margin-left: 20px;
}

.news_list .news_item:first-child {
  display: flex;
  flex-flow: row-reverse wrap;
  width: calc(60% + 20px);
  margin-left: -20px;
}

.news_list .news_item:first-child > * {
  margin-left: 20px;
}

.news_list .news_item:first-child .news_caption {
  width: calc(40% - 20px);
}

.news_list .news_item:first-child .image_container {
  width: calc(60% - 20px);
}

.news_list .news_item:nth-child(n+2):nth-child(-n+3) {
  width: calc(20% - 20px);
}

.news_list .news_item:nth-child(n+2):nth-child(-n+3) .image_container {
  width: 100%;
  height: 200px;
}

.news_list .news_item:nth-child(n + 4):nth-child(-n + 7) {
  margin-top: 30px;
  width: calc(25% - 20px);
  padding-right: 20px;
  border-right: solid 1px #000000;
  box-sizing: border-box;
}

.news_list .news_item:nth-child(n + 4):nth-child(-n + 7) .image_container {
  display: none;
}

.news_list .news_item:nth-child(n + 4):nth-child(-n + 7) h2 {
  min-height: 160px;
}

.news_list .news_item .image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_list .news_item h2 a {
  font: normal normal 700 20px/160% Merriweather, Serif;
  color: #000000;
  text-decoration: none;
}

.news_list .news_item p {
  color: #777777;
}

@media (min-width: 768px) and (max-width: 992px) {
  .news_list {
    margin-left: -20px;
    width: calc(100% + 20px);
  }
  .news_list > * {
    margin-left: 20px !important;
  }
  .news_list .news_item:first-child, .news_list .news_item:nth-child(n+2):nth-child(-n+3), .news_list .news_item:nth-child(n + 4):nth-child(-n + 7) {
    width: calc(50% - 20px) !important;
  }
  .news_list .news_item .image_container {
    height: 200px;
  }
}

@media (max-width: 991px) {
  .news_list {
    margin-top: 10px;
  }
  .news_list > * {
    margin-left: 0;
  }
  .news_list .news_item {
    margin-bottom: 20px;
  }
  .news_list .news_item:first-child {
    width: 100%;
    margin-left: 0;
  }
  .news_list .news_item:first-child > * {
    margin-left: 0;
  }
  .news_list .news_item:first-child .image_container {
    order: 1;
    width: 100%;
  }
  .news_list .news_item:first-child .news_caption {
    order: 2;
    width: 100%;
    margin-top: 10px;
  }
  .news_list .news_item:nth-child(n+2):nth-child(-n+3) {
    width: 100%;
  }
  .news_list .news_item:nth-child(n+2):nth-child(-n+3) .news_caption {
    margin-top: 10px;
  }
  .news_list .news_item:nth-child(n + 4):nth-child(-n + 7) {
    width: 100%;
    border-right: none;
  }
  .news_list .news_item:nth-child(n + 4):nth-child(-n + 7) h2 {
    min-height: unset;
  }
  .news_list .news_item:last-child {
    margin-bottom: 0;
  }
  .news_list .news_item .caption {
    margin-top: 10px;
  }
  .news_list .news_item h2 {
    margin-bottom: 10px;
  }
  .news_list .news_item h2 a {
    font-size: 14px;
  }
  .news_list .news_item p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=categorynews.module.css.map */