@import '../../scss/style';

.news_list {
    @include flex-row;
  
    & > * {margin-left: 20px;}
    
    .news_item {
        &:first-child {
            display: flex;
            flex-flow: row-reverse wrap;
            width: calc(60% + 20px);
            margin-left: -20px;
            
            & > * {margin-left: 20px;}

            .news_caption {width: calc(40% - 20px);}

            .image_container {width: calc(60% - 20px);}          
        }

        &:nth-child(n+2):nth-child(-n+3) {
            width: calc(20% - 20px);
            
            .image_container {
                width: 100%;
                height: 200px;
            }
        }

        &:nth-child(n + 4):nth-child(-n + 7) {
            margin-top: 30px;
            width: calc(25% - 20px); 
            padding-right: 20px;
            border-right: solid 1px $black;
            box-sizing: border-box;

            .image_container {
                display: none;
            }
            
            h2 {min-height: 160px;}
        }

        .image_container {
            img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
            }
        }

        h2 {        
            a {
                font: $heading5;
                color: $black;
                text-decoration: none;
            }
        }

        p {
            color: $gray2;
        }
    }   
}

@media (min-width: 768px) and (max-width: 992px) {
    .news_list {
        margin-left: -20px;
        width: calc(100% + 20px);
        & > * {
            margin-left: 20px !important;
        }

        .news_item {

            &:first-child, &:nth-child(n+2):nth-child(-n+3), &:nth-child(n + 4):nth-child(-n + 7) {
                width: calc(50% - 20px) !important;
            }

            .image_container {
                height: 200px;
            }
        }
    }
}

@media (max-width: 991px) {
    .news_list {
        margin-top: 10px;
        
        & > * {
            margin-left: 0;
        }

        .news_item {
            margin-bottom: 20px;

            &:first-child {
                width: 100%;
                margin-left: 0;

                & > * {
                    margin-left: 0;
                }
                .image_container {
                    order: 1;
                    width: 100%;
                }

                .news_caption {
                    order: 2;
                    width: 100%;
                    margin-top: 10px;
                }
            }

            &:nth-child(n+2):nth-child(-n+3) {
                width: 100%;

                .news_caption {
                    margin-top: 10px;
                }
            }

            &:nth-child(n + 4):nth-child(-n + 7) {
                width: 100%;
                border-right: none;

                h2 {
                    min-height: unset;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
            .caption {
                margin-top: 10px;
            }
            
            h2 {
                margin-bottom: 10px;
                a {
                    font-size: 14px;
                }
            }

            p {
                font-size: 12px;
            }
        }
    }
}