@import '../../scss/style';

footer {
    margin-top: 50px;
    padding: 60px 200px;
    background-color: $black;
    color: $gold;

    a {
        color: $gold;
        text-decoration: none;
    }
    .brand {
        font: $heading4;
    }

    .sitelink, .social {
        margin-left: 20px;
        a {
            margin-left: 20px;
        }
    }

    .social a {
        position: relative;
        top: 5px;
    }

    .copyright {
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    footer {
        padding: 50px 20px !important;
    }
}
@media (max-width: 992px) {
    footer {
        margin-top: 30px;
        padding: 50px;

        .sitelink, .social {
            display: block;
            margin: 20px 0;

            a:first-child {
                margin-left: 0;
            }
        }

        .copyright {
            margin-left: 0;
        }
    }
}